
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> 


<div class="breadcrumb-image" style="background-image: url(https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&h=627&fit=crop&w=1200);">
    <div class="container text-center section-tittle mb-60 text-center pt-10">
        <h1>contact us</h1> 
    </div>
</div>


<section class="contact py-5 bg-light" id="contact">
<div class="container">
	<div class="row">
	    <div class="col-md-12">
	        <h4>Get in touch</h4>
		    <hr>
	    </div>
		<div class="col-md-6">
		    <div class="address">
		        
		    <h5>Address:</h5>
		    <ul class="list-unstyled">
		        <li> T-laptop Customer Relations</li>
		        <li> PO Box 689115</li>
		        <li> Thiruvalla, Pathanamthitta</li>
		    </ul>
		    <p>Please don't send anything to this address.</p>
		    </div>
		    <div class="email">
		    <h5>Email:</h5>
		    <ul class="list-unstyled">
		        <li> info1@email.com</li>
		        <li> info2@email.com</li>
		    </ul>
		    </div>
		    <div class="phone">
		        <h5>Phone:</h5>
		        <ul class="list-unstyled">
		        <li> +91- 8800XXXXXX34</li>
		        <li> +91- 8800XXXXXX34</li>
		    </ul>
		    </div>
		    <hr>
		    <div class="social">
	        <ul class="list-inline list-unstyled">
	            <li class="list-inline-item">
	                <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
	            </li>
	            <li class="list-inline-item">
	                <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
	            </li>
	            <li class="list-inline-item">
	                <a href="#"><i class="fa fa-youtube-play fa-2x"></i></a>
	            </li>
	        </ul>
	    </div>
		</div>
		<div class="col-md-6">
		    <div class="card">
		        <div class="card-body">
		             <form >
                        <div class="form-row">
                            <div class="form-group col-md-6">
                              <input id="Full Name" [(ngModel)]="name" name="Full Name" placeholder="Full Name" class="form-control" type="text">
                            </div><br>
                            <div class="form-group col-md-6">
                              <input type="email" [(ngModel)]="email" name="email" class="form-control" id="inputEmail4" placeholder="Email">
                            </div><br>
                          </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input id="Mobile No." [(ngModel)]="mobile" name="Mobile No." placeholder="Mobile No." class="form-control" required="required" type="text">
                            </div><br>
                            <div class="form-group col-md-6">
                                      
                                      <select id="inputState" class="form-control" name="select" [(ngModel)]="opt">
                                        <option selected>Choose ...</option>
                                        <option> New Buyer</option>
                                        <option> Complaint</option>
                                        <option> Feedback</option>
                                      </select>
                            </div><br>
                            <div class="form-group col-md-12">
                                      <textarea id="comment" [(ngModel)]="msg" name="comment" cols="40" rows="5" placeholder="Your Message"class="form-control"></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <button type="submit" class="btn btn-danger" (click)="contact()">Submit</button>
                        </div>
                    </form>
		        </div>
		    </div>
		</div>
	</div>
	
	
</div><br><br>
</section>