
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  
  <!-- Footer -->
    <section id="footer">
      <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h5>About Us</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="#"><i class="fa fa-angle-double-right"></i>Home</a></li>
              <li><a href="about"><i class="fa fa-angle-double-right"></i>About</a></li>
              <li><a href="contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
             
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <h5>Shop Category</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="acer"><i class="fa fa-angle-double-right"></i>Acer</a></li>
              <li><a href="asus"><i class="fa fa-angle-double-right"></i>Asus</a></li>
              <li><a href="dell"><i class="fa fa-angle-double-right"></i>Dell</a></li>
              <li><a href="hp"><i class="fa fa-angle-double-right"></i>HP</a></li>
              <li><a href="lenovo"><i class="fa fa-angle-double-right"></i>Lenovo</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h5>Company</h5>
            <ul class="list-unstyled quick-links">
              <li><a href="login"><i class="fa fa-angle-double-right"></i>Login</a></li>
              <li><a href="login"><i class="fa fa-angle-double-right"></i>Register</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i>Our Products</a></li>
             
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-lg-0">
            <h5 class="text-uppercase font-weight-bold mb-4">Registered Office Address</h5>
            <p class="text-white mb-4">T-laptop Customer Relations<br>
              PO Box 689115<br>
              Thiruvalla, Pathanamthitta<br><br>
              info1@email.com<br>
              info2@email.com</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02"><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="https://www.fiverr.com/share/qb8D02" target="_blank"><i class="fa fa-envelope"></i></a></li>
            </ul>
          </div>
          <hr>
        </div>	
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> @ All Rights Reserved | © 2023 Copyright</p>
            <p class="h6">© All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">LaptopStore.com</a></p>
          </div>
          <hr>
        </div>	
      </div>
    </section>
    <!-- ./Footer -->