

<div class="banner-breadcum section">

   
		 <div class="breadcrumb-image" style="background-image: url(https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&h=627&fit=crop&w=1200);">
    <div class="container text-center section-tittle mb-60 text-center pt-10">
        <h1>about us</h1> 
          
    </div>
</div>
	
    

 <div class="container section-tittle mb-60 text-center pt-10">
   
<p class="pera">Electronic gadgets have become an inseparable part of our lives in today's world. Even though smartphones have taken over our lives, and it is impossible to go on with our day-to-day work without them, other electronic gadgets are equally important.</p>
<p class="pera">Be it a laptop for gaming or your professional work daily – a laptop is a must. There might be many people who are digitally a lot more advanced. However, even for tasks like maintaining sheets, doing presentations, or professional image and video editors, editing is impossible without a proper advanced laptop with all the right features.</p>
      </div>
 
<br>

<section class="home-testimonial">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center testimonial-pos">
            <div class="col-md-12 pt-4 d-flex justify-content-center">
                <h2>Testimonials</h2>
            </div>
            <div class="col-md-12 d-flex justify-content-center">
                <h2>Explore the Customer experience</h2>
            </div>
        </div>
        <section class="home-testimonial-bottom">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;The team at refresh are extremely courteous, proficient and competent. I highly recommend them for all your computer needs.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/6625914/pexels-photo-6625914.jpeg" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Balbir Kaur</div>
                                <div class="link-position d-flex justify-content-center">Customer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Amazing customer service, knowledgeable staff & very reasonably priced for services/products.Wonderful as always.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Swathy Mehkar</div>
                                <div class="link-position d-flex justify-content-center">Customer</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Great service, very good prices. Have used them for years. Absolutely amazing guys. I’ve been coming here for years and have no complaints.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-2 pb-2"><img class="tm-people" src="https://images.pexels.com/photos/4946604/pexels-photo-4946604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Jenifer James</div>
                                <div class="link-position d-flex justify-content-center">Customer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
        </section>

<br><br><br>

 <!--? Services Area Start -->
 <div class="categories-area section-padding40 gray-bg">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="cat-icon">
                      <img src="../../../assets/images/services1.svg" alt="">
                  </div>
                  <div class="cat-cap">
                      <h5>Fast & Free Delivery</h5>
                      <p>Free delivery on all orders</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                  <div class="cat-icon">
                      <img src="../../../assets/images/services2.svg" alt="">
                  </div>
                  <div class="cat-cap">
                      <h5>Secure Payment</h5>
                      <p>Free delivery on all orders</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="single-cat mb-30 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                  <div class="cat-icon">
                      <img src="../../../assets/images/services3.svg" alt="">
                  </div>
                  <div class="cat-cap">
                      <h5>Easy Return Policy</h5>
                      <p>Free delivery on all orders</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="single-cat wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                  <div class="cat-icon">
                      <img src="../../../assets/images/services4.svg" alt="">
                  </div>
                  <div class="cat-cap">
                      <h5>24 Hr Support</h5>
                      <p>Free delivery on all orders</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!--? Services Area End -->
</div>