body{background:#eee}
.ratings i{font-size: 16px;color: red}
.strike-text{color: red;text-decoration: line-through}
.product-image{width: 100%}
.dot{height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block}
.spec-1{color: #938787;font-size: 15px}
h5{font-weight: 400}
.para{font-size: 16px}



@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Styling h1 and links
––––––––––––––––––––––––––––––––– */
h1[alt="Simple"] {color: white;}
a[href], a[href]:hover {color: grey; font-size: 0.5em; text-decoration: none}


body
{
  background: #4a4a4c !important;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 1.5px;
  font-size: 1em;
  font-family: FontAwesome;
  display: inline-block; 
  color: #E94F37;
}

.starrating > label
{
  color: #c4b7b7; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */


.section-col{
    position: relative;
    width: 100%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
    transition: opacity 250ms linear;
  }
  .section-row .section-col:hover{
    opacity: 1;
  }
  .section{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    padding: 15px;
  }
  .section-in{
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    cursor: pointer;
  }
  .section-in img{
    display: block;
    width: 100%;
    height: auto;
    transition: transform 250ms linear;
  }
  .section-col:hover .section-in img{
    transform: scale(1.1) ;
  }
  